@font-face {
  font-family: "Overpass Mono";
  src: url("./fonts/Overpass_Mono/OverpassMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Overpass Mono";
  src: url("./fonts/Overpass_Mono/OverpassMono-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Overpass Mono";
  src: url("./fonts/Overpass_Mono/OverpassMono-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Overpass Mono";
  src: url("./fonts/Overpass_Mono/OverpassMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Lato";
  src: url("./") format("truetype");
}
