{% extends 'base.html' %}

{% block main %}

<div class="max-w-xl mx-auto pt-10 px-4">

    <div class="markdown">
        <h1><code>404 - File not found!</code></h1>
        The page you are looking for does not exist. There are 3 options from here:

        <ol>
            <li>
                Go back to the <a href="https://gburghoorn.com">home page</a>.
            </li>
            <li>
                If you believe this page to have existed in the past and you want to find it,
                look through the
                <a href="https://github.com/coastalwhite/gburghoorn.com">
                    GitHub History
                </a>
                of this website.
            </li>
            <li>
                If you think this page should exist, but it does not for some
                reason. Post an issue
                <a href="https://github.com/coastalwhite/gburghoorn.com/issues">
                    here
                </a>
                or send an email to me (AT) gburghoorn (DOT) com. It would be
                much appreciated.
            </li>
        </ol>
    </div>
</div>

{% endblock %}
