{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    {% set img_path = "imgs/mugshot.png" %}

    {% set meta_keywords = config.extra.keywords %}
    {% set meta_author = config.extra.author %}

    {% if page %}
    {% set meta_title = page.title ~ ' - ' ~ config.title %}
    {% set meta_description = page.description %}
    {% if page.extra.static_image_path %}
    {% set img_path = page.extra.static_image_path %}
    {% endif %}

    {% if page.extra.keywords %}
    {% set meta_keywords = meta_keywords | concat(with=page.extra.keywords) %}
    {% endif %}
    {% else %}
    {% set meta_title = config.title %}
    {% set meta_description = config.description %}
    {% endif %}

    <title>{{ meta_title }}</title>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="title" content="{{ meta_title }}" />
    <meta name="description" content="{{ meta_description }}" />
    <meta name="keywords" content="{{ meta_keywords | join(sep=', ') }}" />

    <!-- Open Graph Protocol -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ current_url }}" />
    <meta property="og:title" content="{{ meta_title }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta property="og:image" content="{{get_url(path=img_path)}}" />

    <!-- Stylesheets -->
    <link href="{{get_url(path='styles/styles.css')}}" rel="stylesheet" type="text/css" />

    <!-- Library Scripts -->
    <script type="text/javascript" src="{{get_url(path='scripts/smoothscroll.min.js')}}"></script>
    <script type="text/javascript" src="{{get_url(path='scripts/touch-friendly-clicks.js')}}"></script>

    {% block head %}
    {% endblock head %}
</head>

<body class="text-gray-900 bg-secondary-m-90 dark:bg-primary-p-70 dark:text-gray-100">
    <!-- Background stripes -->
    {{ macros::bgstripe(offset="top-0", height="h-1/2-screen-h", points="50,0 100,80 100,0") }}
    {{ macros::bgstripe(offset="top-1/2-screen-h", height="h-2-screen-h", points="0,0 100,40 100,100 0, 60") }}

    <nav class="fixed top-0 z-10 w-full bg-primary-m-90 dark:bg-primary-p-80 md:bg-transparent md:dark:bg-transparent">
        <div class="px-4 mx-auto md:container">
            <div class="py-2 text-xl md:pt-4">
                <div class="flex flex-col items-center md:items-stretch md:flex-row">
                    <div class="flex flex-row w-full md:w-auto md:block">
                        <a href="{{ config.base_url }}/#" class="self-start pr-4 border-r-2 border-gray-900 select-none dark:border-gray-100 font-header md:self-center">
                            gburghoorn
                        </a>
                        <div class="content-end flex-1 md:hidden">
                            <!-- Drawer -->
                            <svg id="menuDrawerToggle" class="float-right w-8 h-8" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="4" class="text-gray-900 fill-current dark:text-gray-100" />
                                <rect y="14" width="24" height="4" class="text-gray-900 fill-current dark:text-gray-100" />
                                <rect y="7" width="24" height="4" class="text-gray-900 fill-current dark:text-gray-100" />
                            </svg>
                        </div>
                    </div>

                    <div id="nav-links" class="flex-col justify-end flex-1 hidden w-full text-center md:flex md:flex-row md:space-x-8 font-nav-links md:w-auto">

                        {{ macros::navlink(to='blog', txt='Blog') }}
                        {{ macros::navlink(to='#sect-about-me', txt='About Me') }}
                        {{ macros::navlink(to='#sect-work', txt='Projects') }}
                        {{ macros::navlink(to='#sect-contact', txt='Contact') }}

                        <button type="button" class="w-full py-2 border-none outline-none focus:outline-none focus:border-none md:w-auto md:my-0" id="themeToggle">
                            <img class="mx-auto" id="lightModeEnabler" src="{{get_url(path='svg/day.svg')}}" alt="Enable Lightmode" />
                            <img class="mx-auto" id="darkModeEnabler" src="{{get_url(path='svg/night.svg')}}" alt="Enable Darkmode" />
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </nav>

    <header class="header">
        {% block header %} {% endblock header %}
    </header>

    <main id="content-container" class="container mx-auto text-gray-900 dark:text-gray-100">
        {% block content %} {% endblock content %}
    </main>

    <footer id="footer" class="flex flex-row justify-center mx-auto mt-8 mb-2 space-x-2">
        <div>&copy; {{ now() | date(format="%Y") }} {{ config.extra.author }}</div>
        <div>
            <a class="underline font-nav-links" href='/rss.xml'>RSS Feed</a>
        </div>
        <div class="hidden sm:block">
            Powered by
            <a class="underline font-nav-links" href='https://www.getzola.org/'>Zola</a>
        </div>
    </footer>

    <!-- Interactive scripts -->
    <script type="text/javascript" src="{{get_url(path='scripts/navbar-stickyness.js')}}"></script>
    <script type="text/javascript" src="{{get_url(path='scripts/theme-selector.js')}}"></script>
    <script type=" text/javascript" src="{{get_url(path='scripts/nav-drawer.js')}}"></script>
</body>

</html>