{% extends "menued.html" %}

{% block content %}

<div class="flex flex-row w-full text-2xl font-nav-links selector-tags">
    <div id="all-posts-btn" class="selector-tag-selected">
        All
    </div>
    <div class="w-2"></div>
    <div id="beginner-posts-btn">
        Societal
    </div>
    <div class="w-2"></div>
    <div id="advanced-posts-btn">
        Computerese
    </div>
    <div class="flex-1">
    </div>
</div>

{% set posts_section = get_section(path='posts/_index.md') %}
{% set posts = posts_section.pages %}

<div id="posts-container">
    {% for post in posts %}
    <div class="post-item {{ post.extra.category }}">
        <a href="{{ post.permalink }}">
            <h2 class="text-xl font-bold font-header">
                {{ post.title }}
            </h2>
            <h3 class="text-sm font-header">
                {{ post.date | date(format="%v") }}
            </h3>
        </a>
        {% if post.taxonomies.tags %}
        {{ macros::showtags(tags=post.taxonomies.tags) }}
        {% endif %}
        <div class="my-2 italic">
            {% if post.description %}
            {{ post.description | trim | safe }}
            {% endif %}
        </div>
        <a class="underline font-nav-links text-primary-p-20" href="{{ post.permalink }}">
            Read more...
        </a>
    </div>
    {% endfor %}

    <ul id="empty-message" class="mt-8 text-center">
        <h2 class="text-3xl font-content">
            No articles yet...
        </h2>
    </ul>
</div>

<script type="text/javascript" src="{{get_url(path='scripts/blog-feed-filter.js')}}">
</script>


{% endblock content %}
