$base-url: /;

/** Overpass Mono Font - Used Headers */
@font-face {
    font-family: "Overpass Mono";
    src: url("#{$base-url}fonts/Overpass_Mono/OverpassMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Overpass Mono";
    src: url("#{$base-url}fonts/Overpass_Mono/OverpassMono-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Overpass Mono";
    src: url("#{$base-url}fonts/Overpass_Mono/OverpassMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Overpass Mono";
    src: url("#{$base-url}fonts/Overpass_Mono/OverpassMono-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/** Lato font - Used for Navbar */
@font-face {
    font-family: "Lato";
    src: url("#{$base-url}fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("#{$base-url}fonts/Lato/Lato-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("#{$base-url}fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("#{$base-url}fonts/Lato/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("#{$base-url}fonts/Lato/Lato-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("#{$base-url}fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("#{$base-url}fonts/Lato/Lato-RegularItalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("#{$base-url}fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("#{$base-url}fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("#{$base-url}fonts/Lato/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("#{$base-url}fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

/** Jetbrains Mono font - used for code excerpts */
@font-face {
    font-family: "Jetbrains Mono";
    src: url("#{$base-url}fonts/JetbrainsMono/ttf/JetbrainsMono-Regular.ttf") format("truetype");
    src: url("#{$base-url}fonts/JetbrainsMono/webfonts/JetbrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}
